.flash-wrapper {
  width: 100%;
  text-align: center;
  position: fixed;
  margin-bottom: 10px;
  z-index: 999;
  animation: fade-out 1s linear 5s forwards;
  visibility: visible;

  @-webkit-keyframes fade-out {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
  }
  
  @keyframes fade-out {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
  }

  @media screen and (max-width: $middle){
    font-size: 14px;
  }
  
  .alert {
    padding: 10px;
  
    &--notice {
      background-color: #DFF0D8;
      color: #3C763D;
    }

    &--warning {
      background-color: #F2DEDE;
      color: #A94442;
    }
  }
}