.flash-wrapper {
  width: 100%;
  text-align: center;
  position: fixed;
  margin-bottom: 10px;
  z-index: 999;
  animation: fade-in-out 5s ease-out forwards;
  visibility: hidden;

  @-webkit-keyframes fade-in-out {
    0% {visibility: hidden; opacity: 0;}
    20% {visibility: visible; opacity: 1;}
    80% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
  }
  
  @keyframes fade-in-out {
    0% {visibility: hidden; opacity: 0;}
    20% {visibility: visible; opacity: 1;}
    80% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
  }

  @media screen and (max-width: $middle){
    font-size: 14px;
  }
  
  .alert {
    padding: 10px;
  
    &--notice {
      background-color: #DFF0D8;
      color: #3C763D;
    }
    
    &--alert {
      background-color: #FCF8E3;
      color: #8A6D3B;
    }

    &--warning {
      background-color: #F2DEDE;
      color: #A94442;
    }
  }
}