.over-scroll--scroll {
  display: inline-block;
  white-space: nowrap;
  animation: scrollAnime 10s linear 5s 3;

  @media screen {
    animation: scrollAnime 20s linear 5s 3;
  }
}

@keyframes scrollAnime{
  0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
}
