.like {
  font-size: 18px;
  margin-right: 30px;
  display: inline-block;
  
  &__button {
    margin-right: 3px;
  }

  &__icon {
    color: #FF0000;

    &--liked {
      color: #FF0000;
    }
  }

  &__count {
    font-size: 16px;
  }

  .clicked {
    animation: turn-heart 0.5s alternate;

    @keyframes turn-heart {
      0% {transform: rotateY(0deg);}
      100% {transform: rotateY(540deg);}
    }
  }
}
