.another-albums {
  
  &__header {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
  }
  
  &__container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    
    &__album {
      font-size: 14px;
      width: 200px;
      height: 200px;
      position: relative;

      @media screen and (max-width: $middle) {
        width: 120px;
        height: 120px;
      }

      .album-image {
        &__content {
          width: 100%;
          height: 100%;
        }
      }

      .album-info {
        position: absolute;
        bottom: 0;
        background-color: #ffffff;
        opacity: .7;
        border-radius: 0 10px 0 0;
        max-width: 80%;
        min-width: 30%;
        padding: 3px;

        &__album-title {
          font-size: 12px;
        }
      }
    }
  }
}
