.album-show {
  &__detail {
    .tracks {
      max-width: 300px;
      margin: 20px 0 20px 10px;

      .track {
        padding: 5px 0;
        border-bottom: 1px solid #999999;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;

        &:first-child {
          border-top: 1px solid #999999
        }

        &__info {

          &__number {
            display: inline-block;
            font-size: 14px;
            margin-right: 10px
          }

          &__name {
            display: inline-block;
            font-size: 14px;
          }
        }

        &__audio {
          font-size: 24px;
          line-height: 24px;
          color: #cccccc;
          padding-right: 5px;
          transition: .4s;
          text-align: center;

          &__button {
            border-style: none;
            outline: none;
            
            &:active {
              line-height: 22px;
              font-size: 22px;
            }

            &--stop {
              border-style: none;
              display: none;
              outline: none;
              
              &:active {
                line-height: 22px;
                font-size: 22px;
              }
            }
          }
        }
      }
    }
  }
}