.album-show {
  .border-radius {
    border: solid 1px $border_color;
    float: right;
    width: 60%;
    padding: 10px 0 10px 10px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #FFF6FF;

    @media screen and (max-width: $middle){
      float: none;
      width: 100%;
      margin-top: 20px;
    }
    
    .reviews {
      max-height: 800px;
      overflow-y: scroll;
      border-radius: 10px;

      @media screen and (max-width: $middle) {
        min-height: 100px;
        max-height: 500px;
      }

      &__header {
        font-size: 20px;
        margin: 5px 20px 0 0;
        padding-bottom: 2px;
        border-bottom: solid 1px $border_color;
      }
      
      .review {
        border-bottom: dotted 1px $border_color;
        margin-top: 10px;
        padding-bottom: 20px;
        margin-right: 10px;

        
        &:last-child {
          border: none;
        }

        &__user-name {
          font-size: 18px;
        }
        
        &__tags {
          font-size: 0;
          margin-left: 5px;
          
          &__tag {
            overflow: hidden;
            white-space: nowrap;
            height: 20px;
            max-width: 120px;
            min-width: 60px;
            text-align: center;
            line-height: 10px;
            font-size: 12px;
            display: inline-block;
            margin-right: 5px;
            background-color: #C0C0C0;
            padding: 5px;
            border-radius: 15px;
          }
        }
  
        &__content {
          margin: 5px 0;
          font-size: 14px;
        }

        &__bottom {
          text-align: right;
          font-size: 0;
          margin-top: -10px;
        }
      }
    }
  }
}

