.album-show {
  .border-radius {
    border: solid 1px #666666;
    float: right;
    width: 60%;
    padding: 10px 0 10px 10px;
    border-radius: 20px;
    overflow: hidden;

    @media screen and (max-width: $middle){
      float: none;
      width: 100%;
      margin-top: 20px;
      min-height: 100px;
      max-height: 500px;
    }
    
    .reviews {
      max-height: 800px;
      overflow-y: scroll;
      border-radius: 10px;
      
      .review {
        border-bottom: dotted 1px #666666;
        margin-top: 10px;
        padding: 0 10px 20px 0;
        
        &:last-child {
          border: none;
        }

        &__user-name {
          font-size: 16px;
        }
        
        &__tags {
          font-size: 0;
  
          &__tag {
            height: 20px;
            max-width: 120px;
            min-width: 60px;
            text-align: center;
            line-height: 10px;
            font-size: 12px;
            display: inline-block;
            margin-right: 5px;
            background-color: #C0C0C0;
            padding: 5px;
            border-radius: 15px;
          }
        }
  
        &__content {
          margin: 5px 0;
          font-size: 14px;
        }
      }
    }
  }
}

