.recomu-top {
  .albums {
    font-size: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;

    .album {
      width: 150px;
      margin-bottom: 20px;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
      height: 150px;
      pointer-events: none;
      transition: all 0.4s ease;
      position: relative;
      box-shadow: 3px 3px 3px #555555;

      @media screen and (max-width: $wide) {
        margin-right: 40px;
        height: 100px;
        width: 100px;
      }

      &__album-image {
        &__image {
          width: 100%;
          height: 100%;
          pointer-events: auto;
        }
      }

      &__info {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: $base_color;
        border-radius: 0 10px 0 0;
        padding: 5px;
        max-width: 120px;
        min-width: 80px;
        white-space: nowrap;
        text-align: left;
        opacity: .85;

        &__album-title {
          overflow: hidden;
          font-size: 12px;
        }

        &__artist-name {
          overflow: hidden;
          font-size: 10px;
        }
      }

      &:hover {
        transform: scale(1.1);
        
        .album__info {
          display: block;
        }
      }
    }
  }
}
