.devise-link {
  font-size: 18px;
  font-weight: 500;
  line-height: 30px;
  background-color: #2A212E;
  width: 100px;
  border-radius: 5px;
  color: #FFF6FF;
  display: block;
  margin-top: 10px;
  text-align: center;
}

#error_explanation {
  margin-bottom: 20px;
}
