.delete-review.modal.js-modal{id: "modal--delete-review__#{review.id}"}
  .modal__bg.js-modal-close

  .modal__content
    .delete-review__window
      .delete-review__window__header
        レビューを削除しますか？
      .delete-review__window__text
        この操作は取り消せません。本当に削除しますか？
      .delete-review__window__button
        .delete-review__window__button--cancel
          = link_to '', class: 'delete-review__window__button--cancel__link js-modal-close' do
            キャンセル
        .delete-review__window__button--delete
          = link_to review_path(review), class: 'delete-review__window__button--delete__link', method: :delete do
            削除