.create-review.modal.js-modal#post-review
  .modal__bg.js-modal-close

  .modal__content
    .modal__content__close
      = link_to '', class: 'js-modal-close' do
        = fa_icon 'close', class: 'modal__content__close__icon'
    = render partial: 'form/review_form', locals: { review_form: @review_form, album: @album }